@font-face {
  font-family: header-font;
  src:url('/Altone Trial-Regular.ttf')
}

@font-face {
  font-family: bold-font;
  src:url('/Inter-SemiBold.ttf')
}

@font-face {
  font-family: thin-font;
  src:url('/Inter-ExtraLight.ttf')
}

.navbar {
  overflow: hidden;
  background: #ffffff;
}

.navbar a {
  float: right;
  color: #222222;
  background-color: #ffffff;
  font-size: 12px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 12px;
  text-decoration: none;
  padding-left: 29px;
  padding-right: 29px;
  font-family: header-font;
}


@media (max-width:1920px) and (min-width:400px) {
  .navbuttons {
    padding-left: calc(7vw);
  }
}; 


.logo:hover {
  background-color: #FFC7C2;
  color: #ffffff;
}

a.navbuttons {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 11vw;
  padding-right: 24px;
}

a.logo {
  float: left;
  padding-left: 18px;
  background-color: #ffffff;
  padding-top: 5px;
  padding-bottom: 0px;
}

.frontcontainer {
  height: 75vh;
  width: 100%;
}

/* div for the startpage hub area */
.front {
  height: 75vh;
  width: 100%;
  background-color: #FFC7C2;
  text-align: center;
  position: relative;
  line-height: 15vh;
}

.bannercontainer {
  height: 75vh;
}

.banner {
  background-color: #FFC7C2;
  z-index: 0;
  height: 75vh;
  width: 100%;
  text-align: center;
  position: absolute;
}

.landingtext {
  width: 100%;
  padding-bottom: 100px;
  text-align: center;
  position: absolute;
  z-index: 1;
}

.loginmodal, .logincontent {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 2;
}

.loginshadow {
  background: #31313170;
  width: 100%;
  height: 100%;
}

.logincontent {
  position: absolute;
  left: 50%;  
  width: 460px;
  height: 450px;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  border-radius: 25px;
  line-height: 27px;
  padding-top: 20px;
}

.signup {
  display: inline-flex;
  text-align: center;
  padding-top: 5px;
  font-size: 15px;
  padding-left: 0px;
  left: 0px;
  right: 50px;
  gap: 13px;
}

.signup h4 {
  font-family: thin-font;
  transform: scale(1.07, 1);
}

.signup h5 {
  font-family: bold-font;
  font-size: 15px;
  transform: scale(1.07, 1.05);
}

.signup h5:hover {
  cursor: pointer;
}

.logincontent h1 {
  font-size: 20px;
  font-family: bold-font;
  transform: scale(1.07, 1.05);
}

.logincontent h2 {
  font-size: 14px;
  font-family: thin-font;
  color: rgb(123, 114, 114);
  transform: scale(1.07, 1);
}

.logininfo h3 {
  font-size: 18px;
  font-family: thin-font;
  color: black;
  transform: scale(1.07, 1);
  padding-left: 14px;
}



.logininfo button {
  background-color: black;
  color: white;
  font-family: bold-font;
  font-size: 20px;
  padding-left: 12px;
  text-align: center;
  width: 400px;
  height: 45px;
  border-radius: 10px;
}

.logininfo button:hover {
  cursor: pointer;
}

.signin button:hover {
  background-color: rgb(122, 122, 122);
}

.signin button:active {
  background-color: rgb(122, 122, 122);
  font-size: 18px;
}

.signupButton button {
  background-color: black;
  color: black;
  font-family: bold-font;
  font-size: 20px;
  text-align: center;
  width: 400px;
  height: 40px;
  border-radius: 10px;
  background-color: #FFC7C2;
}

.signupButton button:hover {
  background-color: #e1b1ac;
  cursor: pointer;
}

.signupButton button:active {
  background-color: aliceblue;
  color: black;
  font-size: 18px;
}

.logininfo {
  text-align: left;
  padding-left: 31px;
}

.logininfoboxes {
  width: 100%;
  position: relative;

  background-color: rgb(0, 0, 0);
}

.passwordbox {
  display: absolute;

  background-color: rgb(255, 255, 255);
  bottom: 50px;
  width: 100%;
}

.passwordinput {
  display: flex;
  border-width: 2px;
  border-radius: 18px;

  width: 400px;
  height: 40px;
  border-style: solid;
}

.passwordinput input {
  width: 100%;
  border-radius: 18px;
  font-size: 18px;

  border: none;
  outline: none;
}

.passwordbox input {
  width: 400px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
}

.passwordbutton {
  padding-right: 3px;
}

.passwordbutton button {
  width: 23px;
  height: 35px;
  padding-right: 30px;
  padding-bottom: 2px;

  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  padding-top: 5px;
}

.passwordhide {
  width: 25px;
}

.forgotpass h5 {
  font-family: thin-font;
  color: rgb(122, 122, 122);
  transform: scale(1.07, 1);
  font-size: 14px;
}

.forgotpass h5:hover {
  cursor: pointer;
}

.recoveryregister {
  text-align: center;
  background-color: white;
}

.registerPanel {
  background-color: white;
  text-align: center;
}

.rrContainer {
  background-color: white;
  width: 550px;
  height: 170px;
  border-radius: 25px;
  border: solid;
  border-color: rgb(176, 176, 176);
  border-width: 2px;
  line-height: 25px;

  margin: auto;
}

.registerContainer {
  background-color: white;
  width: 460px;
  height: 420px;
  border-radius: 25px;
  border: solid;
  border-color: rgb(176, 176, 176);
  border-width: 2px;
  line-height: 25px;

  margin: auto;
}

.registerOvertext {
  padding-left: 22px;
  padding-right: 22px;
}

.rrContainer h3 {
  margin-top: 20px;
}

.recoveryInputs {
  text-align: center;
  margin: auto;

  display: inline-flex;
  gap: 10px;
}

.recoveryInputs button {
  width: 50px;
  height: 40px;
  border-radius: 25px;
  background-color: #FFC7C2;
}

.recoveryInputs img {
  padding-top: 2px;
}

.recoveryInputs button:hover {
  background-color: #e1b1ac;
  cursor: pointer;
}

.recoveryInputs button:active {
  background-color: aliceblue;
}

.emailsubmission {
  text-align: center; 
  margin: auto;
}

.emailsubmission h3 {
  color: #3DCF56;
  padding-top: 1px; 
  font-size: 14px;
  font-family: bold-font;
  transform: scale(1.07, 1.05);

}

.emailsubmission h5 {
  color: #3DCF56;
  padding-top: 1px; 
  font-size: 14px;
  font-family: thin-font;
  transform: scale(1.07, 1);

}

.front p {
  padding-top: 22vh;
  line-height: 1.25;
  color: #ffffff;
  vertical-align: middle;
  font-family: header-font;
}

.startbutton button {
  border: none;
  background: none;
  cursor: pointer;
}

.itinerary {
  height: 75vh;
  width: 100%;
  background-color: #FFC7C2;
  text-align: center;
  margin: auto;
  position: absolute;
  line-height: 15vh;
}

.startContainer {
  display: flex;
  flex-flow: column;
  height: 93%;
}

.startbg {
  flex: 1 1 auto;
  background-color: #FFF5F4;
}

.col1 {
  width: 40%;

  padding-left: 50px;
  padding-top: 25px;
  padding-right: 50px;
}

@media all and (min-width: 1441px) {
  .col1 {
    width: 40%;
  }
}

@media all and (max-width: 1440px) {
  .col1 {
    padding-right: 50px;
    width: 100%;
  }
}

.col2 {
  width: 60%;
  padding-top: 25px;
  padding-right: 50px;
  padding-left: 50px;
}

.col2 h2 {
  background-color: #FFC7C2;
  padding: 5px 20px 5px 20px;
  display: inline-block;
  font-size: 27px;

  border-style: solid;
  border-color: #DA8D87;
  border-width: 5px;
  border-radius: 25px;

  color: white;
  font-family: bold-font;
  paint-order: stroke fill;
  -webkit-text-stroke: 10px #DA8D87; 
  
  margin-left: 75%;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.col2 h2:hover {
  background-color: #DA8D87;
  cursor: pointer;
}

@media all and (min-width: 1441px) {
  .col2 {
    width: 60%;
  }
}

@media all and (max-width: 1440px) {
  .col2 {
    width: 100%;
  }
}

.datePickers {
  padding-left: 10px;
}

.initDatePick {
  padding-bottom: 15px;
}

.datePickers button {
  padding: 5px 5px 5px 5px;
  background-color: white;
  color: #82D9E5;
  border-style: solid;
  border-width: 2px;
  font-size: 18px;
  width: 25%;
  font-family: bold-font;
  border-radius: 10px;
  border-color: #82D9E5;
}

.datePickers h4 {
  font-family: thin-font;
  transform: scale(1.18, 1);

  width: 50%;
  border-bottom: solid;
  text-align: center;
  margin: auto;
  padding-bottom: 8px;
  font-size: 18px;
}

.datePickers button:hover {
  background-color: #82D9E5;
  color: white;
  border-color: #82D9E5;
  font-size: 18px;
  cursor: pointer;
}

.headerWrapper {
  background-color: #FFC7C2;
  padding: 20px 20px 20px 20px;
  display: inline-block;
  font-size: 37px;

  border-style: solid;
  border-width: 0px;
  border-radius: 25px;

  color: white;
  font-family: bold-font;
  paint-order: stroke fill;
  -webkit-text-stroke: 10px #DA8D87; 
}

.col1 h1 {
  font-family: bold-font;
  display: inline-block;

  font-size: 36px;

  color: white;
}

.col2 h1 {
  font-family: bold-font;
  display: inline-block;

  font-size: 36px;

  color: white;
}

.col1Container {
  display: block;
}

.destinationHeader {
  padding-top: 30px;
}

.destinationHeader h1 {
  color: white;
  font-size: 20px;
  background-color: #FFC7C2;

  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 0px;
  border-radius: 25px;
}

.destinationContainer, .budgetContainer, .datesContainer, .selectedDayHead {
  color: black;
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  border-color: #FFC7C2;

  padding: 10px 10px 10px 10px;
}

.budgetContainer {
  display: flex;
  text-align: center;
}

.datesContainer {
  text-align: center;
}

.calendarContainer {
  margin: auto;
}

.initDatePick, .finalDatePick {
  display: flex;
}

.budgetContainer h3 {
  margin: auto;
  width: auto;
}

.budgetContainer input {
  border-style: none;
  border-bottom: solid;
  height: 25px;
  width: 100%;


  font-size: 25px;
  font-family: bold-font;
}

.destination {
  display: flex;
}

.destinationCol1, .destinationCol2 {
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  font-family: bold-font;
  width: 50%;
}

.destinationCol2 input {
  width: 100%;
  height: 30px;
  background-color: white;

  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;

  padding-left: 5px;
  padding-right: 5px;
}

.destinationCol2 button {
  width: 100%;
  height: 30px;
  background-color: white;
  text-align: center;

  font-size: 13px;

  border-style: solid;
  border-radius: 10px;
  border-width: 3px;
  border-color: black;

  font-family: bold-font;
}

.destinationCol2 button:hover {
  cursor: pointer;
  font-size: 15px;
}

.itCol1 {
  width: 25%;
  padding: 20px 10px 20px 10px;
  background-color: white;
  border-radius: 20px;
  border-style: solid;
  border-width: 0px;
}

.itCol1 h1 {
  padding: 20px 20px 20px 20px;
  display: inline-block;
  font-size: 25px;

  border-style: solid;
  border-width: 0px;
  border-radius: 25px;

  color: white;
  font-family: bold-font;
  paint-order: stroke fill;
  -webkit-text-stroke: 10px #DA8D87; 
}

.itDaySelect {
  width: 100%;
  font-family: bold-font;
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  height: 75px;
}

.itDaySelect:hover {
  background-color: lightgray;
  border-style: solid;
  border-width: 0px;
  border-radius: 25px;
}

.selectedDayHead {
  padding: 20px 20px 20px 20px;
  display: inline-block;
  font-size: 25px;

  border-style: solid;
  border-width: 0px;
  border-radius: 25px;

  margin: auto;

  color: white;
  font-family: bold-font;
  paint-order: stroke fill;
  -webkit-text-stroke: 10px #DA8D87; 
}

.itEvent {
  width: 100%;
  border-radius: 15px;
  border-color: #FFC7C2;
  background-color: white;
  border-style: solid;
}

.addEvent {
  background-color: rgb(158, 158, 158);
  color: rgb(106, 106, 106);
  border-color: rgb(106, 106, 106);
}

.addPlusButton {
  width: 10%;
  text-align: center;
  margin: auto;
}

.addMoreText {
  width: 90%;
  text-align: center;
  margin: auto;
}

.basetext {
  -webkit-text-stroke: 2px #ffffff; 
}

.stroke {
  -webkit-text-stroke: 10px #DA8D87; 
}

/* media adjust for font-size when the window is vertically shortened, FIX needed */
@media (max-height:1920px) and (min-height:400px) {
  .front p {
    font-size: calc(1rem);
    text-size-adjust: auto;
  }
}

@media all and (min-width: 1441px) {
  .startbg {
    display: flex;
  }
}

@media all and (max-width: 1440px) {
  .startbg {
    display: block;
  }
}